pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
resources/public/js
*-init.clj
figwheel_server.log
node_modules/
/resources/public/css/main.css
/resources/main.js
